# fly.toml app configuration file generated for crawlready-worker on 2025-12-29T00:03:41+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'crawlready-worker'
primary_region = 'iad'

[build]
dockerfile = 'Dockerfile'

[env]
HEALTH_PORT = '8080'
NODE_ENV = 'production'
WORKER_CONCURRENCY = '1'

[[services]]
protocol = 'tcp'
internal_port = 8080

[[services.ports]]
port = 80
handlers = [ 'http' ]

[[services.ports]]
port = 443
handlers = [
  'tls',
  'http'
]

[services.concurrency]
type = 'connections'
hard_limit = 25
soft_limit = 20

[[services.tcp_checks]]
interval = '15s'
timeout = '2s'
grace_period = '5s'

[[vm]]
size = 'shared-cpu-2x'
memory = '2048mb'
